
@font-face {
  font-family: 'Gravity-Book';
  src: url('Gravity-Book.eot?#iefix') format('embedded-opentype'),  url('Gravity-Book.otf')  format('opentype'),
	     url('Gravity-Book.woff') format('woff'), url('Gravity-Book.ttf')  format('truetype'), url('Gravity-Book.svg#Gravity-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
