
@font-face {
  font-family: 'Gravity-LightItalic';
  src: url('Gravity-LightItalic.eot?#iefix') format('embedded-opentype'),  url('Gravity-LightItalic.otf')  format('opentype'),
	     url('Gravity-LightItalic.woff') format('woff'), url('Gravity-LightItalic.ttf')  format('truetype'), url('Gravity-LightItalic.svg#Gravity-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
